<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Twelve-Space Structure System</title>

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />

		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />

		<link rel="stylesheet" href="assets/css/styles.css" />
		<!--[if IE]><link rel="stylesheet" type="text/css" href="/assets/css/ie.css" /><![endif]-->

	</head>
	<body>
		<div class="container--full">

			<div class="container testing-space">

				<div id="demo">


					<script type="text/template" id="space-demo-template">
						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase%>">
											<h3 class="space__cell--<%=12 - testCase%>__offset--<%=i%>">
												I am offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--<%=i%>
												</code>
											</h3>
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is header is offset.
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Table Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--table--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase%>">
											<h3 class="space__cell--<%=12 - testCase%>__offset--<%=i%>">
												I am offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--<%=i%>
												</code>
											</h3>
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is header is offset.
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase%>">
											<h3 class="space__cell--<%=12 - testCase%>__offset--negative--<%=i%>">
												I am offset -<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--negative--<%=i%>
												</code>
											</h3>
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is header is offset.
												<br />
												<code>
													.space__cell--<%=12 - testCase%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Table Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase%>">
											<h3 class="space__cell--<%=12 - testCase%>__offset--negative--<%=i%>">
												I am offset -<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase%>__offset--negative--<%=i%>
												</code>
											</h3>
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is header is offset.
												<br />
												<code>
													.space__cell--<%=12 - testCase%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>


						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>">
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Table Version
						</h2>
						<p class="padding-bottom">
							This does not work in table.
						</p>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--table--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>">
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<div class="space--12  margin-bottom--2x">
									<div class="space__cell--<%=testCase%>">
										<p>
											This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=testCase%>
											</code>
										</p>
									</div>
									<div class="space__cell--<%=12 - testCase%> space__cell--offset--negative--<%=i%>">
										<p>
											This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
											and is offset -<%=i%> space<% if (i > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=12 - testCase%> space__cell--offset--negative--<%=i%>
											</code>
										</p>
									</div>
								</div>
							<% } %>
						<%})%>


						<h2>
							Table Version
						</h2>
						<p class="padding-bottom">
							This does not work in table.
						</p>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<div class="space--table--12  margin-bottom--2x">
									<div class="space__cell--<%=testCase%>">
										<p>
											This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=testCase%>
											</code>
										</p>
									</div>
									<div class="space__cell--<%=12 - testCase%> space__cell--offset--negative--<%=i%>">
										<p>
											This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
											and is offset -<%=i%> space<% if (i > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=12 - testCase%> space__cell--offset--negative--<%=i%>
											</code>
										</p>
									</div>
								</div>
							<% } %>
						<%})%>


						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>">
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Table Version
						</h2>
						<p class="padding-bottom">
							This does not work in table.
						</p>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<% if ( (12 - testCase - i) > 0) { %>
									<div class="space--table--12  margin-bottom--2x">
										<div class="space__cell--<%=testCase%>">
											<p>
												This container is <%=testCase%> space<% if (testCase > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=testCase%>
												</code>
											</p>
										</div>
										<div class="space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>">
											<p>
												This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
												and is offset +<%=i%> space<% if (i > 1) {%>s<%} %>
												<br />
												<code>
													.space__cell--<%=12 - testCase - i %> space__cell--offset--<%=i%>
												</code>
											</p>
										</div>
									</div>
								<% } %>
							<% } %>
						<%})%>

						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12,11,10,9,8,7,6,5,4,3,2,1], function(testCase) {%>
							<div class="space--12 align--center  margin-bottom--2x">
								<% if ( testCase !== 12 ) { %>
									<div class="space__cell--<%=12 - testCase%>">
										<%= 12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
										<br />
										<code>
											.space__cell--<%=12 - testCase%>
										</code>
									</div>
								<% } %>
								<div class="space__cell--<%=testCase%>">
									<%=testCase%> Space<% if (testCase > 1) {%>s<%} %>
									<br />
									<code>
										.space__cell--<%=testCase%>
									</code>
								</div>
							</div>
						<%})%>

						<h2>
							Table Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11,12,11,10,9,8,7,6,5,4,3,2,1], function(testCase) {%>
							<div class="space--table--12 align--center  margin-bottom--2x">
								<% if ( testCase !== 12 ) { %>
									<div class="space__cell--<%=12 - testCase%>">
										<%= 12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
										<br />
										<code>
											.space__cell--<%=12 - testCase%>
										</code>
									</div>
								<% } %>
								<div class="space__cell--<%=testCase%>">
									<%=testCase%> Space<% if (testCase > 1) {%>s<%} %>
									<br />
									<code>
										.space__cell--<%=testCase%>
									</code>
								</div>
							</div>
						<%})%>


						<h2>
							Float Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<div class="space--12  margin-bottom--2x">
									<div class="space__cell--<%=testCase%>">
										<h3 class="space__cell--<%=testCase%>__expand--<%=i%>">
											I am expanding out <%=i%> space<% if (i > 1) {%>s<%} %>.
											<br />
											<code>
												.space__cell--<%=testCase%>__expand--<%=i%>
											</code>
										</h3>
										<p>
											This container is <%=testCase%> Space<% if (testCase > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=testCase%>
											</code>
										</p>
									</div>
									<div class="space__cell--<%=12 - testCase%>">
										<p>
											This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=12 - testCase%>
											</code>
										</p>
									</div>
								</div>
							<% } %>
						<%})%>


						<h2>
							Table Version
						</h2>
						<%_.each([1,2,3,4,5,6,7,8,9,10,11], function(testCase) {%>
							<% var max = 12 - testCase; %>
							<% for (i=1; i <= max; i++) { %>
								<div class="space--table--12  margin-bottom--2x">
									<div class="space__cell--<%=testCase%>">
										<h3 class="space__cell--<%=testCase%>__expand--<%=i%>">
											I am expanding out <%=i%> space<% if (i > 1) {%>s<%} %>.
											<br />
											<code>
												.space__cell--<%=testCase%>__expand--<%=i%>
											</code>
										</h3>
										<p>
											This container is <%=testCase%> Space<% if (testCase > 1) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=testCase%>
											</code>
										</p>
									</div>
									<div class="space__cell--<%=12 - testCase%>">
										<p>
											This container is <%=12 - testCase%> Space<% if (testCase < 11) {%>s<%} %>
											<br />
											<code>
												.space__cell--<%=12 - testCase%>
											</code>
										</p>
									</div>
								</div>
							<% } %>
						<%})%>


					</script>

				</div>



				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />

				<h2>
					Float Version
				</h2>
				<div class="space--12 align--center">
					<div class="space__cell--1">
						space
					</div>
					<div class="space__cell--11">
						space
					</div>

					<div class="space__cell--2">
						space
					</div>
					<div class="space__cell--10">
						space
					</div>

					<div class="space__cell--3">
						space
					</div>
					<div class="space__cell--9">
						space
					</div>

					<div class="space__cell--4">
						space
					</div>
					<div class="space__cell--8">
						space
					</div>

					<div class="space__cell--5">
						space
					</div>
					<div class="space__cell--7">
						space
					</div>

					<div class="space__cell--6">
						space
					</div>
					<div class="space__cell--6">
						space
					</div>

					<div class="space__cell--7">
						space
					</div>
					<div class="space__cell--5">
						space
					</div>

					<div class="space__cell--8">
						space
					</div>
					<div class="space__cell--4">
						space
					</div>

					<div class="space__cell--9">
						space
					</div>
					<div class="space__cell--3">
						space
					</div>

					<div class="space__cell--10">
						space
					</div>
					<div class="space__cell--2">
						space
					</div>

					<div class="space__cell--11">
						space
					</div>
					<div class="space__cell--1">
						space
					</div>

					<div class="space__cell--4">
						space
					</div>
					<div class="space__cell--4">
						space
					</div>
					<div class="space__cell--4">
						space
					</div>
				</div>

				<h2>
					Table Version
				</h2>
				<div class="space--table--12 align--center">
					<div class="space--table__row">
						<div class="space__cell--1">
							space
						</div>
						<div class="space__cell--11">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--2">
							space
						</div>
						<div class="space__cell--10">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--3">
							space
						</div>
						<div class="space__cell--9">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--4">
							space
						</div>
						<div class="space__cell--8">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--5">
							space
						</div>
						<div class="space__cell--7">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--6">
							space
						</div>
						<div class="space__cell--6">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--7">
							space
						</div>
						<div class="space__cell--5">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--8">
							space
						</div>
						<div class="space__cell--4">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--9">
							space
						</div>
						<div class="space__cell--3">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--10">
							space
						</div>
						<div class="space__cell--2">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--11">
							space
						</div>
						<div class="space__cell--1">
							space
						</div>
					</div>

					<div class="space--table__row">
						<div class="space__cell--4">
							space
						</div>
						<div class="space__cell--4">
							space
						</div>
						<div class="space__cell--4">
							space
						</div>
					</div>

				</div>
			</div>
		</div>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/lib/jquery.min.js"><\/script>')</script>

		<!-- build:js assets/js/main.js -->
		<!-- Additional JS Libraries and Frameworks Here
		 - List the js files and libraries below inside of the build block in the order you want them concatenated on build
		 - This block is parsed by the usemin grunt task and it generates one main.js file for production -->
	    <script src="assets/js/lib/underscore.js"></script>
		<script src="assets/js/main.js"></script>
		<!-- endbuild -->


		<script>
			var demoObj = {};
			$("#demo").append(_.template($("#space-demo-template").html()));
		</script>

	</body>
</html>
