
/* ==========================================================================
   Twelve-Space Structure System [v0.9.0]
   ========================================================================== */
/*!
 * Twelve-Space Structure System v0.9.0
 * Created by Kevin Mack
 * http://github.com/kevinmack18/Twelve-Space
 *
 * Date: 2013-03-01
 */

@import "variables";


// `$twelve-space--max-spaces` is the definition of Twelve
// DO NOT CHANGE, SERIOUSLY... but you could, but don't.
// ... thank you.
$twelve-space--max-spaces: 12;

@import "twelve-space__helper-classes";


%float-left-setup, %float-left {
	float: left;
}

%float-right-setup, %float-right {
	float: right;
}

%space {
	> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name} {
		&:nth-child(odd) {
			@extend %float-left-setup;
		}
		&:nth-child(even) {
			@extend %float-right-setup;
		}
	}
}


/**
 * space
 * Inherits `%space` properties
 * **nth-child(1n)** is `float: left` and **nth-child(2n)** is `float: right`
 */

@if ($twelve-space--selectors__output) {
	.float-left {
		@extend %float-left-setup;
	}

	.float-right {
		@extend %float-right-setup;
	}

	.#{$twelve-space--block-name} {
		@extend %space;
	}

	.#{$twelve-space--block-name}, .#{$twelve-space--block-name}--#{$twelve-space--max-spaces} {
		@extend %space-setup;
	}
}


/*
 * ## Clear Floats
 */

%clear-setup, %clear, %space__row, %space--table__row {
	clear: both;
}

@if ($twelve-space--selectors__output) {
	.clear, .#{$twelve-space--block-name}__row, .#{$twelve-space--block-name}--table__row {
		@extend %clear-setup;
	}
}

%clear-after {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

%float--left-or-right {
	> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name}--left {
		@extend %float-left-setup;
	}
	> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name}--right {
		@extend %float-right-setup;
	}
}


%display-table-cell {
	display: table-cell;
}

%display-table {
 	display: table;
}

%space--table-setup, %space--table, %space--table--#{$twelve-space--max-spaces}, %space--table__row {
	@extend %display-table;
	width: 100%;
}

@if ($twelve-space--selectors__output) {
	.display-table, .#{$twelve-space--block-name}--table, .#{$twelve-space--block-name}--table--#{$twelve-space--max-spaces}, .#{$twelve-space--block-name}--table__row {
		@extend %space--table-setup;
	}
	.display-table-cell {
		@extend %display-table-cell;
	}
}

%float--cell--left {
	> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name}, .#{$twelve-space--block-name}__row > .#{$twelve-space--block-name}__#{$twelve-space--block__element-name} {
		@extend %float-left-setup;
	}
}

%display-cell--table-cell {
	> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name} {
		@extend %display-table-cell;
	}
}


/*
 * "Equal Columns"
 * Clears on #nth-child+1 for even rows
 */

@for $i from 1 through $twelve-space--max-spaces {
	%space--equal--#{$i} {
		@extend %clear-after;
		@extend %float--left-or-right;
		@extend %float--cell--left;
		@extend %cell-child--full;

		> %space__cell {
			float: left;
			width: percentage( 1 / $i );
			// Clear for equal space/column heights:
			&:nth-child(#{$i}n+1) {
				@extend %clear-setup;
			}
		}
	}

	@if ($twelve-space--selectors__output) {
		.#{$twelve-space--block-name}--equal--#{$i} {
			@extend %space--equal--#{$i};
			> .#{$twelve-space--block-name}__#{$twelve-space--block__element-name} {
				@extend %space__cell;
			}
		}
	}
}


/**
 * Equal heights for any parent class that has `space` in it
 */

%space-setup--l-or-r, %space, %space--12, %float-container, %space__row {
	@extend  %float--left-or-right;
}

%float-container, %space--12, %space__row {
	@extend %space;
}

%space--table--#{$twelve-space--max-spaces}, %space--table__row {
	@extend %display-cell--table-cell;
}

%space, %space--12, %space__row {
	@extend  %clear-after;
}

@if ($twelve-space--selectors__output) {
	.#{$twelve-space--block-name}, .#{$twelve-space--block-name}--#{$twelve-space--max-spaces}, .float-container, .#{$twelve-space--block-name}__row {
		@extend  %space-setup--l-or-r;
	}

	.float-container, .#{$twelve-space--block-name}--#{$twelve-space--max-spaces}, .#{$twelve-space--block-name}__row {
		@extend %space;
	}

	.#{$twelve-space--block-name}--table--#{$twelve-space--max-spaces}, .#{$twelve-space--block-name}--table__row {
		@extend %display-cell--table-cell;
	}

	.#{$twelve-space--block-name}, .#{$twelve-space--block-name}--#{$twelve-space--max-spaces}, .#{$twelve-space--block-name}__row {
		@extend  %clear-after;
	}
}

@mixin generate-space-expand( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $twelve-space--block-name: ($twelve-space--block-name + "__" + $twelve-space--block__element-name), $space-column-quanity: $twelve-space--max-spaces ) {
	$class-name: $twelve-space--block-name + "--" + $space__cell-amount + "__" + $element-name + "--" + $space-offset-value;

	%#{$class-name} {
		#{$property}: percentage( 1 + ($space-offset-value / $space__cell-amount) );
	}

	@if ($twelve-space--selectors__output) {
		.#{$class-name} {
			@extend %#{$class-name};
		}
	}
	// OUTPUT: .space__cell--{cell spaces}__expand--{cell spaces}
}

@mixin generate-space__cell-offset( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $twelve-space--block-name: ($twelve-space--block-name + "__" + $twelve-space--block__element-name), $space-column-quanity: $twelve-space--max-spaces ) {
	$class-name: $twelve-space--block-name + "__" + $element-name + "--" + $space-offset-value;

	%#{$class-name} {
		#{$property}:  percentage(($space-offset-value / $twelve-space--max-spaces)) * $positiveOrNegative;
	}

	@if ($twelve-space--selectors__output) {
		.#{$class-name} {
			@extend %#{$class-name};
		}
	}
	// OUTPUT: .space__cell--offset--{cell spaces}
	// OUTPUT: .space__cell--offset--negative--{cell spaces}
}

@mixin generate-space__cell__offset( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $twelve-space--block-name: ($twelve-space--block-name + "__" + $twelve-space--block__element-name), $space-column-quanity: $twelve-space--max-spaces ) {
	$class-name: $twelve-space--block-name + "--" + $space__cell-amount +  "__" + $element-name + "--" + $space-offset-value;

	%#{$class-name} {
		#{$property}: percentage(  ($space-offset-value / $space__cell-amount) )  * $positiveOrNegative;
	}

	@if ($twelve-space--selectors__output) {
		.#{$class-name} {
			@extend %#{$class-name};
		}
	}
	// OUTPUT: .space__cell--{cell spaces}__offset--{cell spaces}
	// OUTPUT: .space__cell--{cell spaces}__offset--native--{cell spaces}
}


@for $i from 1 through $twelve-space--max-spaces {

	@include generate-space__cell-offset(1, $i, "cell--offset", "margin-left", 1, "space", #{$twelve-space--max-spaces} );

	@include generate-space__cell-offset(1, $i, "cell--offset--negative", "margin-left", -1, "space", #{$twelve-space--max-spaces} );

	@for $x from 1 through $twelve-space--max-spaces {
		@include generate-space-expand($i, $x);
		@include generate-space__cell__offset($i, $x, "offset", "margin-right", -1, ($twelve-space--block-name + "__" + $twelve-space--block__element-name), #{$twelve-space--max-spaces} );
		@include generate-space__cell__offset($i, $x, "offset--negative", "margin-left", -1, ($twelve-space--block-name + "__" + $twelve-space--block__element-name), #{$twelve-space--max-spaces} );
	}

}


@for $i from 1 through $twelve-space--max-spaces {
	%space__cell--#{$i}-setup {
		width: percentage( $i / $twelve-space--max-spaces);
	}

	%space__cell--#{$i} {
		@extend %float-left-setup;
		@extend %space__cell--#{$i}-setup;
	}

	%space--table__cell--#{$i} {
		@extend %display-table-cell;
		@extend %space__cell--#{$i}-setup;
	}

	%space__gap--left--#{$i} {
		margin-left: percentage($i / $twelve-space--max-spaces);
	}

	%space__gap--right--#{$i} {
		margin-right: percentage($i / $twelve-space--max-spaces);
	}

	%space__gap--padding--left--#{$i} {
		padding-left: percentage($i / $twelve-space--max-spaces);
	}

	%space__gap--padding--right--#{$i} {
		padding-right: percentage($i / $twelve-space--max-spaces);
	}

	@for $x from 1 through $twelve-space--max-spaces {
		%space__cell--#{$i}__gap--left--#{$x} {
			padding-left: percentage($x / $i);
		}

		%space__cell--#{$i}__gap--right--#{$x} {
			padding-right: percentage($x / $i);
		}

		.space__cell--#{$i}__gap--left--#{$x} {
			@extend %space__cell--#{$i}__gap--left--#{$x};
		}

		.space__cell--#{$i}__gap--right--#{$x} {
			@extend %space__cell--#{$i}__gap--right--#{$x};
		}
	}

	@if ($twelve-space--selectors__output) {
		.#{$twelve-space--block-name}__#{$twelve-space--block__element-name}--#{$i} {
			@extend %space__cell--#{$i}
		}

		.#{$twelve-space--block-name}__#{$twelve-space--block__element-name}--#{$i} {
			@extend %space__cell--#{$i};
		}

		.#{$twelve-space--block-name}--table__#{$twelve-space--block__element-name}--#{$i} {
			@extend %space--table__cell--#{$i};
		}

		.#{$twelve-space--block-name}__gap--left--#{$i} {
			@extend %space__gap--left--#{$i};
		}

		.#{$twelve-space--block-name}__gap--right--#{$i} {
			@extend %space__gap--right--#{$i};
		}
	}
}