// ## Global Spaces
$default-space: 20px;
$default-space--2x: $default-space * 2;
$default-space--half: $default-space / 2;
$default-space--smallest: 5px;
$default-space--smaller: $default-space--half;

// ## Global Widths
$max-width: 1200px;

/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */

body {
	color: #333;
	font-size: 16px;
	font-family: Arial, Verdana, sans-serif;
	line-height: percentage( 20 / 16 );
}


/* ==========================================================================
   Containers & Holders
   ========================================================================== */

.space--12 {
	outline: 2px solid rgba(0,0,0,.9);
}

[class*="__cell"] {
	outline: 1px solid rgba(0,0,0,.9);
	&:nth-child(even) {
		outline: 1px solid rgba(0,0,0,.1);
	}
	&:nth-child(odd) {
		outline: 1px solid rgba(0,0,0,.1);
	}
}

.margin-bottom--2x {
	margin-bottom: 40px;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.container--full {
}

 .container {
	width: $max-width;

	@media screen and ( max-width: $max-width + $default-space * 2 ) {
		margin-right: $default-space;
		margin-left: $default-space;
		width: auto; // Keep "fluid feel" of gutters for containers
	}

	@media screen and ( max-width:400px ) {
			margin-right: $default-space--smaller;
			margin-left: $default-space--smaller;
	}

}

.align--center {
	text-align: center;
}
