/* ==========================================================================
   Global Variables
   ========================================================================== */

/*
 * Twelve Space Variables
 */

$twelve-space--block-name: "space";
$twelve-space--block__element-name: "cell";
$twelve-space--max-spaces: 12;
