/* ==========================================================================
   Grids / Twelve-Space Structure System [v0.2.0]
   ========================================================================== */
/*!
 * Twelve-Space Structure System v0.2.0
 * Created by Kevin Mack
 *
 * Date: 2013-11-01
 */


@mixin generate-grid-expand( $grid__cell-amount: 1, $grid-offset-value: 1, $element-name: "expand", $property: "width", $block-name: "grid__cell", $grid-column-quanity: 12 ) {
	$class-name: $block-name + "--" + $grid__cell-amount + "__" + $element-name + "--" + $grid-offset-value;
	.#{$class-name} {
		#{$property}: percentage( 1 + ($grid-offset-value / $grid__cell-amount) );
	}
}

@mixin generate-grid__cell-offset( $grid__cell-amount: 1, $grid-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $block-name: "grid__cell", $grid-column-quanity: 12 ) {
	$class-name: $block-name + "__" + $element-name + "--" + $grid-offset-value;
	.#{$class-name} {
		#{$property}:  percentage(($grid-offset-value / $grid-column-quanity)) * $positiveOrNegative;
	}
}

@mixin generate-grid__cell__offset( $grid__cell-amount: 1, $grid-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $block-name: "grid__cell", $grid-column-quanity: 12 ) {
	$class-name: $block-name + "--" + $grid__cell-amount +  "__" + $element-name + "--" + $grid-offset-value;
	.#{$class-name} {
		#{$property}: percentage(  ($grid-offset-value / $grid__cell-amount) ) * -1;
	}
}

/**
 * Z-Index for Absolute and Relative Positions
 * Used for layering
 */

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position, .position--1 {
	z-index: 1;
}

@for $i from 0 through 12 {
	.position-relative--#{$i} {
		@extend .position-relative;
		z-index: $i;
	}
}
@for $i from 0 through 12 {
	.position-absolute--#{$i} {
		@extend .position-absolute;
		z-index:  $i;
	}
}

%grid {
	> .grid__cell {
		&:nth-child(odd) {
			float: left;
		}
		&:nth-child(even) {
			float: right;
		}
	}
}


/**
 * Grid
 * Inherits `%grid` properties
 * **nth-child(1n)** is `float: left` and **nth-child(2n)** is `float: right`
 */

.grid {
	@extend %grid;
}


/**
 * Image Widths
 * `.grid__cell--asset` and `.asset-container` make children `<img />` width equal to "100%"
 */

img.full  {
	display: block;
}

%cell-child--full {
	.full {
		width: 100%;
	}
}

.grid__cell--asset, .asset-container {
	@extend %cell-child--full;
	img {
		@extend img.full;
		width: 100%;
	}
}

.grid, .grid--12 {
	@extend %cell-child--full;
}


/*
 * ## Clear Floats
 */
.clear, .grid__row {
	clear: both;
}

 %clear-after {
 	&:after {
		display: table;
		clear: both;
		content: "";
	}
 }

 %float--left-or-right {
	> .grid__cell--left {
		float: left;
	}
	> .grid__cell--right {
		float: right;
	}
 }

 %float-left {
	float: left;
 }

 %float--cell--left {
	> .grid__cell, .grid__row > .grid__cell {
		@extend %float-left;
	}
 }


/*
 * "Equal Columns"
 * Clears on #nth-child+1 for even rows
 */

@for $i from 1 through 12 {
	.grid--equal--#{$i} {
		@extend %clear-after;
		@extend %float--left-or-right;
		@extend  %float--cell--left;
		@extend %cell-child--full;
		> [class*="grid__cell"] {
			width: percentage( 1 / $i );
			// Clear for equal grid/column heights:
			&:nth-child(#{$i}n+1) {
				clear: both;
			}
		}
	}
}


/**
 * Equal heights for any parent class that has `grid` in it
 */

.grid, .grid--12, .float-container, .grid__row {
	@extend  %float--left-or-right;
}

.float-container, .grid--12, .grid__row {
	@extend %float--cell--left;
}

.grid, .grid--12 {
	@extend  %clear-after;
}

@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-grid-expand($i, $x);
	}
}

@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-grid__cell__offset($i, $x, "offset", "margin-right", -1, "grid__cell", 12 );
	}
}
@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-grid__cell__offset($i, $x, "offset--negative", "margin-left", -1, "grid__cell", 12 );
	}
}

@for $i from 1 through 12 {
	@include generate-grid__cell-offset(1, $i, "cell--offset", "margin-left", 1, "grid", 12 );
}

@for $i from 1 through 12 {
	@include generate-grid__cell-offset(1, $i, "cell--offset--negative", "margin-left", -1, "grid", 12 );
}

@for $i from 1 through 12 {
	.grid__cell--#{$i} {
		@extend  %float-left;
		width: percentage( $i / 12);
	}
}
@for $i from 1 through 12 {
	.grid__space--left--#{$i} {
		margin-left: percentage( $i / 12);
	}
}
@for $i from 1 through 12 {
	.grid__space--right--#{$i} {
		margin-right: percentage( $i / 12);
	}
}

