/* ==========================================================================
   Twelve-Space Structure System [v0.5.0]
   ========================================================================== */
@import "twelve-space__helper-classes";

/*!
 * Twelve-Space Structure System v0.5.0
 * Created by Kevin Mack
 * http://stash/users/kmack/repos/twelve-space
 *
 * Date: 2013-11-08
 */


%space {
	> .space__cell {
		&:nth-child(odd) {
			float: left;
		}
		&:nth-child(even) {
			float: right;
		}
	}
}


/**
 * space
 * Inherits `%space` properties
 * **nth-child(1n)** is `float: left` and **nth-child(2n)** is `float: right`
 */

.space {
	@extend %space;
}

.space, .space--12 {
	@extend %space-setup;
}


/*
 * ## Clear Floats
 */

%clear-setup, %clear, %space__row, %space--table__row {
	clear: both;
}

.clear, .space__row, .space--table__row {
	@extend %clear-setup;
}

%clear-after {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
}

%float--left-or-right {
	> .space__cell--left {
		float: left;
	}
	> .space__cell--right {
		float: right;
	}
}

%float-left {
	float: left;
}

%display-table-cell {
	display: table-cell
}

%display-table {
 	display: table;
}

%space--table-setup, %space--table, %space--table--12, %space--table__row {
	@extend %display-table;
	width: 100%;
}

.space--table, .space--table--12, .space--table__row {
	@extend %space--table-setup;
}

%float--cell--left {
	> .space__cell, .space__row > .space__cell {
		@extend %float-left;
	}
}

%display-cell--table-cell {
	> .space__cell {
		@extend %display-table-cell;
	}
}


/*
 * "Equal Columns"
 * Clears on #nth-child+1 for even rows
 */

@for $i from 1 through 12 {
	%space--equal--#{$i} {
		@extend %clear-after;
		@extend %float--left-or-right;
		@extend  %float--cell--left;
		@extend %cell-child--full;
		> [class*="space__cell"] {
			width: percentage( 1 / $i );
			// Clear for equal space/column heights:
			&:nth-child(#{$i}n+1) {
				clear: both;
			}
		}
	}

	.space--equal--#{$i} {
		@extend %space--equal--#{$i};
	}
}


/**
 * Equal heights for any parent class that has `space` in it
 */

%space-setup--l-or-r, %space, %space--12, %float-container, %space__row {
	@extend  %float--left-or-right;
}

.space, .space--12, .float-container, .space__row {
	@extend  %space-setup--l-or-r;
}

%float-left-setup, %float-container, %space--12, %space__row {
	@extend %float--cell--left;
}

.float-container, .space--12, .space__row {
	@extend %float-left-setup;
}

%space--table--12, %space--table__row {
	@extend %display-cell--table-cell;
}

.space--table--12, .space--table__row {
	@extend %display-cell--table-cell;
}

%space, %space--12 {
	@extend  %clear-after;
}

.space, .space--12 {
	@extend  %clear-after;
}

@mixin generate-space-expand( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $block-name: "space__cell", $space-column-quanity: 12 ) {
	$class-name: $block-name + "--" + $space__cell-amount + "__" + $element-name + "--" + $space-offset-value;
	%#{$class-name} {
		#{$property}: percentage( 1 + ($space-offset-value / $space__cell-amount) );
	}
	.#{$class-name} {
		@extend %#{$class-name};
	}
	// OUTPUT: .space__cell--{cell spaces}__expand--{cell spaces}
}

@mixin generate-space__cell-offset( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $block-name: "space__cell", $space-column-quanity: 12 ) {
	$class-name: $block-name + "__" + $element-name + "--" + $space-offset-value;
	%#{$class-name} {
		#{$property}:  percentage(($space-offset-value / $space-column-quanity)) * $positiveOrNegative;
	}
	.#{$class-name} {
		@extend %#{$class-name};
	}
	// OUTPUT: .space__cell--offset--{cell spaces}
	// OUTPUT: .space__cell--offset--negative--{cell spaces}
}

@mixin generate-space__cell__offset( $space__cell-amount: 1, $space-offset-value: 1, $element-name: "expand", $property: "width", $positiveOrNegative: 1, $block-name: "space__cell", $space-column-quanity: 12 ) {
	$class-name: $block-name + "--" + $space__cell-amount +  "__" + $element-name + "--" + $space-offset-value;
	%#{$class-name} {
		#{$property}: percentage(  ($space-offset-value / $space__cell-amount) ) * -1;
	}
	.#{$class-name} {
		@extend %#{$class-name};
	}
	// OUTPUT: .space__cell--{cell spaces}__offset--{cell spaces}
	// OUTPUT: .space__cell--{cell spaces}__offset--native--{cell spaces}
}


@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-space-expand($i, $x);
	}
}

@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-space__cell__offset($i, $x, "offset", "margin-right", -1, "space__cell", 12 );
	}
}

@for $i from 1 through 12 {
	@include generate-space__cell-offset(1, $i, "cell--offset", "margin-left", 1, "space", 12 );
}

@for $i from 1 through 12 {
	@include generate-space__cell-offset(1, $i, "cell--offset--negative", "margin-left", -1, "space", 12 );
}

@for $i from 1 through 12 {
	@for $x from 1 through 12 {
		@include generate-space__cell__offset($i, $x, "offset--negative", "margin-left", -1, "space__cell", 12 );
	}
}

@for $i from 1 through 12 {
	%space__cell--#{$i} {
		width: percentage( $i / 12);
	}
	.space__cell--#{$i} {
		@extend %space__cell--#{$i}
	}
}

@for $i from 1 through 12 {
	%space__cell--#{$i} {
		@extend %float-left;
	}
	.space__cell--#{$i} {
		@extend %space__cell--#{$i};
	}
}

@for $i from 1 through 12 {
	%space--table__cell--#{$i} {
		@extend %display-table-cell;
	}
	.space--table__cell--#{$i} {
		@extend %space--table__cell--#{$i};
	}
}

@for $i from 1 through 12 {
	%space__gap--left--#{$i} {
		margin-left: percentage( $i / 12);
	}
	.space__gap--left--#{$i} {
		@extend %space__gap--left--#{$i};
	}
}

@for $i from 1 through 12 {
	%space__gap--right--#{$i} {
		margin-right: percentage( $i / 12);
	}
	.space__gap--right--#{$i} {
		@extend %space__gap--right--#{$i};
	}
}

